/* 
seletor {
    propriedade:valor;
}
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*
CONTAINER
*/

.container {
    width: 1366px;
    margin: 0 auto;
}

/*
HEADER
*/

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header {
    background-color:#2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

/*
SECTION-H2-ARTICLES
*/

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

section h2 {
    font-size: 32px;
}

/*
BACKGROUND-ARTICLES-COLOR #
*/

#sports {
    background-color: rgba(0,255,0,0.1);
}

#sports .articles article a {
    background-color: rgba(100, 200, 100, 100);
}

#economy {
    background-color: #f8f59f;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#tecnolog {
    background-color: rgb(0, 195, 255);
}

#tecnolog .articles article a {
    background-color: rgb(0, 30, 255);
}

#entertment {
    background-color: rgb(250, 106, 106);
}

#entertment .articles article a {
    background-color: rgb(248, 5, 5);
}

/*
ARTICLES
*/

.articles article h3 {
    font-size: 24px;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}
.articles article {
    width: 30%;
}

